@charset "ISO-8859-1";

.error{
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	}
	
.msg{
	padding: 120x;
	margin-bottom: 30px;
	border: 2px solid transparent;
	border-radius: 5px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #8080ff;
	}
	
#login-box{
	width: 300px;
	padding: 30px;
	margin: 250px auto;
	border: 5px solid #8080c0;
	background: #ffffff;
	
} 